/*===================================================
  B. Height Helpers
===================================================== */
/* Height helpers, primarly used with panel widgets */
.fixed-height .panel-body {
    overflow: auto;
}

.hover-height {
    overflow: hidden;
    transition: all 0.2s ease;
}

.mh-20 {
    max-height: 20px !important;
}

.mh-25 {
    max-height: 25px !important;
}

.mh-30 {
    max-height: 30px !important;
}

.mh-35 {
    max-height: 35px !important;
}

.mh-40 {
    max-height: 40px !important;
}

.mh-50 {
    max-height: 50px !important;
}

.mh-100 {
    max-height: 100px !important;
}

.mh-200 {
    max-height: 200px !important;
}

.mh-300 {
    max-height: 300px !important;
}

.mh-400 {
    max-height: 400px !important;
}

.mh-500 {
    max-height: 500px !important;
}

.mh-600 {
    max-height: 600px !important;
}

.mh-700 {
    max-height: 700px !important;
}

.mh-800 {
    max-height: 800px !important;
}

.mh-900 {
    max-height: 900px !important;
}

.mh-1000 {
    max-height: 1000px !important;
}

.h-20 {
    height: 20px !important;
}

.h-25 {
    height: 25px !important;
}

.h-30 {
    height: 30px !important;
}

.h-35 {
    height: 35px !important;
}

.h-40 {
    height: 40px !important;
}

.h-50 {
    height: 50px !important;
}

.h-80 {
    height: 80px !important;
}

.h-100 {
    height: 100px !important;
}

.h-120 {
    height: 120px !important;
}

.h-150 {
    height: 150px !important;
}

.h-170 {
    height: 170px !important;
}

.h-200 {
    height: 200px !important;
}

.h-300 {
    height: 300px !important;
}

.h-400 {
    height: 400px !important;
}

.h-500 {
    height: 500px !important;
}

.h-600 {
    height: 600px !important;
}

.h-700 {
    height: 700px !important;
}

.h-800 {
    height: 800px !important;
}

.h-900 {
    height: 900px !important;
}

.h-1000 {
    height: 1000px !important;
}

/*===================================================
  A. General/Misc Helpers
===================================================== */
/* Transform Center Helper(experimental) */
.t-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BG Helpers */
.bg-none {
    background-color: transparent !important;
}

/* box-shadow Helpers */
.no-boxshadow {
    box-shadow: none !important;
}

/* height helpers */
.h-a {
    height: auto !important;
}

/* overflow Helpers */
.of-a {
    overflow: auto !important;
}

.of-h {
    overflow: hidden !important;
}

.of-v {
    overflow: visible !important;
}

.of-x-a {
    overflow-x: auto !important;
}

.of-x-h {
    overflow-x: hidden !important;
}

.of-x-v {
    overflow-x: visible !important;
}

.of-y-a {
    overflow-y: auto !important;
}

.of-y-h {
    overflow-y: hidden !important;
}

.of-y-v {
    overflow-y: visible !important;
}

/* Center Grid Column Helper */
.center-column {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

/* Vertical Align Helpers */
.va-t {
    vertical-align: top !important;
}

.va-m {
    vertical-align: middle !important;
}

.va-b {
    vertical-align: bottom !important;
}

.va-s {
    vertical-align: super !important;
}

/* Relative Position Helper */
.posr {
    position: relative !important;
}

/* Inline Block Helper */
.ib,
.inline-object {
    display: inline-block !important;
}

/* pointer cursor */
.cursor {
    cursor: pointer !important;
}

/* Useful for emphasizing a disabled input */
.option-disabled {
    opacity: 0.6 !important;
}

/* unstyled input */
.input-unstyled,
.input-unstyled:hover,
.input-unstyled:focus {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/*===================================================
  B. Table Layout Helpers - specifically for widgets
===================================================== */
/* table-layout for connecting panels */
.panel-group.table-layout > .panel + .panel {
    border-left: 0;
}

.panel-group.table-layout + .panel-group.table-layout > .panel {
    border-top: 0;
}

/* table-layout when attached to row */
.row.table-layout {
    margin-left: 0;
    margin-right: 0;
}

.table-layout {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
}

/* table-layout helper content */
.table-layout > div,
.table-layout > aside,
.table-layout > section {
    vertical-align: middle;
    display: table-cell;
    float: none;
}

@media (max-width: 1300px) {
    .table-layout.table-clear-md,
    .table-layout.table-clear-md > div,
    .table-layout.table-clear-md > aside,
    .table-layout.table-clear-md > section {
        display: block;
        float: none;
    }
}

@media (max-width: 992px) {
    .table-layout.table-clear-sm,
    .table-layout.table-clear-sm > div,
    .table-layout.table-clear-sm > aside,
    .table-layout.table-clear-sm > section {
        display: block;
        float: none;
    }
}

@media (max-width: 767px) {
    .table-layout.table-clear-xs,
    .table-layout.table-clear-xs > div,
    .table-layout.table-clear-xs > aside,
    .table-layout.table-clear-xs > section {
        display: block;
        float: none;
    }
}

/*===============================================
  C. Text Helpers
================================================= */
.text-uppercase {
    text-transform: uppercase !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fs3 {
    font-size: 4px !important;
}

.fs4 {
    font-size: 4px !important;
}

.fs5 {
    font-size: 5px !important;
}

.fs6 {
    font-size: 6px !important;
}

.fs7 {
    font-size: 7px !important;
}

.fs8 {
    font-size: 8px !important;
}

.fs9 {
    font-size: 9px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs26 {
    font-size: 26px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs35 {
    font-size: 35px !important;
}

.fs40 {
    font-size: 40px !important;
}

.fs45 {
    font-size: 45px !important;
}

.fs50 {
    font-size: 50px !important;
}

.fs60 {
    font-size: 60px !important;
}

.fs70 {
    font-size: 70px !important;
}

.fs80 {
    font-size: 80px !important;
}

.fs90 {
    font-size: 90px !important;
}

.fs100 {
    font-size: 100px !important;
}

/*===============================================
  D. Padding Helpers
================================================= */
.pn {
    padding: 0 !important;
}

.p1 {
    padding: 1px !important;
}

.p2 {
    padding: 2px !important;
}

.p3 {
    padding: 3px !important;
}

.p4 {
    padding: 4px !important;
}

.p5 {
    padding: 5px !important;
}

.p6 {
    padding: 6px !important;
}

.p7 {
    padding: 7px !important;
}

.p8 {
    padding: 8px !important;
}

.p10 {
    padding: 10px !important;
}

.p12 {
    padding: 12px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.p35 {
    padding: 35px !important;
}

.p40 {
    padding: 40px !important;
}

.p50 {
    padding: 50px !important;
}

.ptn {
    padding-top: 0 !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.prn {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pbn {
    padding-bottom: 0 !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pln {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl50 {
    padding-left: 50px !important;
}

/* Axis Padding (both top/bottom or left/right) */
.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pv8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pv15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pv20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pv25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.pv30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.pv40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.pv50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.ph8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ph15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.ph20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.ph25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.ph30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.ph40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.ph50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* responsive padding helpers */
@media (min-width: 1140px) {
    .ptn-lg {
        padding-top: 0 !important;
    }

    .prn-lg {
        padding-right: 0 !important;
    }

    .pbn-lg {
        padding-bottom: 0 !important;
    }

    .pln-lg {
        padding-left: 0 !important;
    }

    .pt5-lg {
        padding-top: 5px !important;
    }

    .pr5-lg {
        padding-right: 5px !important;
    }

    .pb5-lg {
        padding-bottom: 5px !important;
    }

    .pl5-lg {
        padding-left: 5px !important;
    }
}

@media (min-width: 992px) {
    .ptn-md {
        padding-top: 0 !important;
    }

    .prn-md {
        padding-right: 0 !important;
    }

    .pbn-md {
        padding-bottom: 0 !important;
    }

    .pln-md {
        padding-left: 0 !important;
    }

    .pt5-md {
        padding-top: 5px !important;
    }

    .pr5-md {
        padding-right: 5px !important;
    }

    .pb5-md {
        padding-bottom: 5px !important;
    }

    .pl5-md {
        padding-left: 5px !important;
    }
}

/*===============================================
  E. Margin Helpers
================================================= */
/* margin center helper */
.mauto {
    margin-left: auto;
    margin-right: auto;
}

.mn {
    margin: 0 !important;
}

.m1 {
    margin: 1px !important;
}

.m2 {
    margin: 2px !important;
}

.m3 {
    margin: 3px !important;
}

.m4 {
    margin: 4px !important;
}

.m5 {
    margin: 5px !important;
}

.m8 {
    margin: 8px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.m35 {
    margin: 35px !important;
}

.m40 {
    margin: 40px !important;
}

.m50 {
    margin: 50px !important;
}

.mtn {
    margin-top: 0 !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mrn {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr45 {
    margin-right: 45px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mbn {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mln {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml50 {
    margin-left: 50px !important;
}

/* Axis Margins (both top/bottom or left/right) */
.mv5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mv10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mv15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mv20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mv25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mv30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mv40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mv50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mv70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.mh5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mh10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mh15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mh20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mh25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.mh30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mh40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mh50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mh70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

/* Negative Margin Helpers */
.mtn5 {
    margin-top: -5px !important;
}

.mtn10 {
    margin-top: -10px !important;
}

.mtn15 {
    margin-top: -15px !important;
}

.mtn20 {
    margin-top: -20px !important;
}

.mtn30 {
    margin-top: -30px !important;
}

.mrn5 {
    margin-right: -5px !important;
}

.mrn10 {
    margin-right: -10px !important;
}

.mrn15 {
    margin-right: -15px !important;
}

.mrn20 {
    margin-right: -20px !important;
}

.mrn30 {
    margin-right: -30px !important;
}

.mbn5 {
    margin-bottom: -5px !important;
}

.mbn10 {
    margin-bottom: -10px !important;
}

.mbn15 {
    margin-bottom: -15px !important;
}

.mbn20 {
    margin-bottom: -20px !important;
}

.mbn30 {
    margin-bottom: -30px !important;
}

.mln5 {
    margin-left: -5px !important;
}

.mln10 {
    margin-left: -10px !important;
}

.mln15 {
    margin-left: -15px !important;
}

.mln20 {
    margin-left: -20px !important;
}

.mln30 {
    margin-left: -30px !important;
}

/* Vertical Negative Margin "mv" + "n" + "x" */
.mvn5 {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}

.mvn10 {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.mvn15 {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

.mvn20 {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

.mvn30 {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
}

/* Horizontal Negative Margin "mh" + "n" + "x" */
.mhn5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.mhn10 {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.mhn15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.mhn20 {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.mhn30 {
    margin-left: -30px !important;
    margin-right: -30px !important;
}

/*===============================================
  F. LineHeight Helpers
================================================= */
.lh0 {
    line-height: 0 !important;
}

.lh5 {
    line-height: 5px !important;
}

.lh10 {
    line-height: 10px !important;
}

.lh15 {
    line-height: 15px !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh25 {
    line-height: 25px !important;
}

.lh30 {
    line-height: 30px !important;
}

.lh35 {
    line-height: 35px !important;
}

.lh40 {
    line-height: 40px !important;
}

/*===============================================
  G. Border Helpers
================================================= */
/* Border Disables */
.br-l-n {
    border-left: none !important;
}

.br-r-n {
    border-right: none !important;
}

.br-t-n {
    border-top: none !important;
}

.br-b-n {
    border-bottom: none !important;
}

.br-n {
    border: none !important;
}

.br-v-n {
    border-top: none !important;
    border-bottom: none !important;
}

.br-h-n {
    border-left: none !important;
    border-right: none !important;
}

/* Default Borders */
.br-a {
    border: 1px solid #eeeeee !important;
}

.br-l {
    border-left: 1px solid #eeeeee !important;
}

.br-r {
    border-right: 1px solid #eeeeee !important;
}

.br-t {
    border-top: 1px solid #eeeeee !important;
}

.br-b {
    border-bottom: 1px solid #eeeeee !important;
}

/* Border Style */
.br-dashed {
    border-style: dotted !important;
}

/* Border Radius */
.br0 {
    border-radius: 0px !important;
}

.br1 {
    border-radius: 1px !important;
}

.br2 {
    border-radius: 2px !important;
}

.br3 {
    border-radius: 3px !important;
}

.br4 {
    border-radius: 4px !important;
}

.br6 {
    border-radius: 6px !important;
}

.br8 {
    border-radius: 8px !important;
}

.br12 {
    border-radius: 12px !important;
}

.br24 {
    border-radius: 24px !important;
}

.br64 {
    border-radius: 64px !important;
}

.br50 {
    border-radius: 64px !important;
}

/* Border Width */
.bw1 {
    border-width: 1px !important;
}

.bw2 {
    border-width: 2px !important;
}

.bw3 {
    border-width: 3px !important;
}

.bw4 {
    border-width: 4px !important;
}

.bw5 {
    border-width: 5px !important;
}

.bw8 {
    border-width: 8px !important;
}

.bw10 {
    border-width: 10px !important;
}

.bw15 {
    border-width: 15px !important;
}

/*Border Colors Generate contextual modifier classes for colorizing the alert.
*/
.br-white {
    border-color: #ffffff !important;
}

.br-lighter {
    border-color: #eeeeee !important;
}

.br-light {
    border-color: #e7e7e7 !important;
}

.br-grey {
    border-color: #d9d9d9 !important;
}

.br-greyer {
    border-color: #cccccc !important;
}

.br-dark {
    border-color: #3b3f4f !important;
}

.br-dark-light {
    border-color: #51566c !important;
}

.br-primary {
    border-color: #4a89dc !important;
}

.br-primary-light {
    border-color: #75a5e4 !important;
}

.br-info {
    border-color: #3bafda !important;
}

.br-info-light {
    border-color: #66c1e2 !important;
}

.br-success {
    border-color: #70ca63 !important;
}

.br-success-light {
    border-color: #93d789 !important;
}

.br-warning {
    border-color: #f6bb42 !important;
}

.br-warning-light {
    border-color: #f8cd73 !important;
}

.br-danger {
    border-color: #e9573f !important;
}

.br-danger-light {
    border-color: #ee7f6d !important;
}

.br-alert {
    border-color: #967adc !important;
}

.br-alert-light {
    border-color: #b6a2e7 !important;
}

.br-system {
    border-color: #37bc9b !important;
}

.br-system-light {
    border-color: #58ceb1 !important;
}

.br-tp-top {
    border-top-color: rgba(0, 0, 0, 0.1);
}

.br-tp-right {
    border-right-color: rgba(0, 0, 0, 0.1);
}

.br-tp-left {
    border-left-color: rgba(0, 0, 0, 0.1);
}

/*===============================================
  H. Max Width Helpers
================================================= */
.fluid-width {
    width: 100% !important;
}

.mw10 {
    max-width: 10px !important;
}

.mw20 {
    max-width: 20px !important;
}

.mw30 {
    max-width: 30px !important;
}

.mw35 {
    max-width: 35px !important;
}

.mw40 {
    max-width: 40px !important;
}

.mw45 {
    max-width: 45px !important;
}

.mw50 {
    max-width: 50px !important;
}

.mw60 {
    max-width: 60px !important;
}

.mw80 {
    max-width: 80px !important;
}

.mw100 {
    max-width: 100px !important;
}

.mw140 {
    max-width: 140px !important;
}

.mw160 {
    max-width: 160px !important;
}

.mw180 {
    max-width: 180px !important;
}

.mw200 {
    max-width: 200px !important;
}

.mw240 {
    max-width: 240px !important;
}

.mw280 {
    max-width: 280px !important;
}

.mw320 {
    max-width: 320px !important;
}

.mw400 {
    max-width: 400px !important;
}

.mw450 {
    max-width: 450px !important;
}

.mw500 {
    max-width: 500px !important;
}

.mw600 {
    max-width: 600px !important;
}

.mw700 {
    max-width: 700px !important;
}

.mw800 {
    max-width: 800px !important;
}

.mw900 {
    max-width: 900px !important;
}

.mw1000 {
    max-width: 1000px !important;
}

.mw1100 {
    max-width: 1100px !important;
}

.mw1200 {
    max-width: 1200px !important;
}

/*Regular Height Helpers. Primarily used
on tables, feel free to add more*/

.h20 {
    height: 20px !important;
}

.h30 {
    height: 30px !important;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h75 {
    height: 75px !important;
}

.h100 {
    height: 100px !important;
}

.h125 {
    height: 125px !important;
}

.h150 {
    height: 150px !important;
}

.h175 {
    height: 175px !important;
}

.h200 {
    height: 200px !important;
}

.h225 {
    height: 225px !important;
}

.h250 {
    height: 250px !important;
}

.h300 {
    height: 300px !important;
}

.h320 {
    height: 320px !important;
}

.h350 {
    height: 350px !important;
}

.h400 {
    height: 400px !important;
}

.h450 {
    height: 450px !important;
}

/*Regular Width Helpers. Primarily used
on tables, feel free to add more*/
.w20 {
    width: 20px !important;
}

.w30 {
    width: 30px !important;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w75 {
    width: 75px !important;
}

.w100 {
    width: 100px !important;
}

.w125 {
    width: 125px !important;
}

.w150 {
    width: 150px !important;
}

.w175 {
    width: 175px !important;
}

.w200 {
    width: 200px !important;
}

.w225 {
    width: 225px !important;
}

.w250 {
    width: 250px !important;
}

.w300 {
    width: 300px !important;
}

.w320 {
    width: 320px !important;
}

.w350 {
    width: 350px !important;
}

.w400 {
    width: 400px !important;
}

.w450 {
    width: 450px !important;
}

.mnw20 {
    min-width: 20px !important;
}

.mnw30 {
    min-width: 30px !important;
}

.mnw40 {
    min-width: 40px !important;
}

.mnw50 {
    min-width: 50px !important;
}

.mnw75 {
    min-width: 75px !important;
}

.mnw100 {
    min-width: 100px !important;
}

.mnw125 {
    min-width: 125px !important;
}

.mnw150 {
    min-width: 150px !important;
}

.mnw175 {
    min-width: 175px !important;
}

.mnw200 {
    min-width: 200px !important;
}

.mnw250 {
    min-width: 250px !important;
}

.mnw300 {
    min-width: 300px !important;
}

.mnw500 {
    min-width: 500px !important;
}

.mnw700 {
    min-width: 700px !important;
}

.mnw1000 {
    min-width: 1000px !important;
}

.z-index-1200 {
    z-index: 1200;
}

.v-h-100{
    height: 100vh !important;
}

.v-h-70{
    height: 100vh !important;
}

.w-100 {
    width: 100% !important
}

.no-bullets{
    list-style: none;
    display: none;
}

.oak-input-error {
    color: #dd4b39;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.oak-input-label-content {
    color: #495057;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: #495057 1px dotted;
    width: 100%;
    word-wrap: break-word;
}

.oak-input-label-title {
    font-size: 16px;
}

.oak-select-all-view {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    clear: both;
}

.oak-select-all-view > span {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    background: #FFF;
    color: #999;
    top: -23px;
    font-size: 15px;
}

.oak-hide{
    display: none;
}

.page-break-before {
    page-break-before: always;
}

.oak-divider-outer {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.oak-divider-outer-left {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.oak-divider-inner {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    background: #FFF;
    color: #999;
    top: -11px;
    font-size: 15px;
}

.oak-divider-inner-left {
    display: inline-block;
    position: relative;
    padding: 0 17px 0 0;
    background: #FFF;
    color: #999;
    top: -11px;
    font-size: 15px;
}

.text-center {
    text-align: center !important
}

.text-black {
    color: #070919
}


.display-1 {
    font-size: 3.5rem
}

.display-1, .display-2 {
    font-weight: 300;
    line-height: 1.2
}

.display-2 {
    font-size: 3rem
}

.display-3 {
    font-size: 2.5rem
}

.display-3, .display-4 {
    font-weight: 300;
    line-height: 1.2
}

.display-4 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.7rem
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.text-capitalize {
    text-transform: capitalize !important
}

.font-size-xs {
    font-size: .83333rem !important
}

.font-size-sm {
    font-size: .875rem !important
}

.font-size-md {
    font-size: 1rem !important
}

.font-size-lg {
    font-size: 1.15rem !important
}

.font-size-xl {
    font-size: 1.265rem !important
}

.font-size-xxl {
    font-size: 1.38rem !important
}

.text-white {
    color: #fff !important
}

.text-primary {
    color: #3c44b1 !important
}

a.text-primary:focus, a.text-primary:hover {
    color: #292e78 !important
}

.text-secondary {
    color: #f8f9ff !important
}

a.text-secondary:focus, a.text-secondary:hover {
    color: #acb7ff !important
}

.text-success {
    color: #1bc943 !important
}

a.text-success:focus, a.text-success:hover {
    color: #12862d !important
}

.text-info {
    color: #11c5db !important
}

a.text-info:focus, a.text-info:hover {
    color: #0b8594 !important
}

.text-warning {
    color: #f4772e !important
}

a.text-warning:focus, a.text-warning:hover {
    color: #cb520b !important
}

.text-danger {
    color: #f83245 !important
}

a.text-danger:focus, a.text-danger:hover {
    color: #d6071b !important
}

.text-light {
    color: #f4f5fd !important
}

a.text-light:focus, a.text-light:hover {
    color: #b3baf1 !important
}

.text-gray {
    color: #f8f9ff !important
}

a.text-gray:focus, a.text-gray:hover {
    color: #acb7ff !important
}

.text-dark {
    color: #7a7b97 !important
}

a.text-dark:focus, a.text-dark:hover {
    color: #56576e !important
}

.text-first {
    color: #4191ff !important
}

a.text-first:focus, a.text-first:hover {
    color: #0067f4 !important
}

.text-second {
    color: #070919 !important
}

a.text-second:focus, a.text-second:hover {
    color: #000 !important
}

.text-body {
    color: #3b3e66 !important
}

.text-muted {
    color: #d1d2db !important
}

.text-black-50 {
    color: rgba(59, 62, 102, .5) !important
}

.text-white-50 {
    color: hsla(0, 0%, 100%, .5) !important
}

.text-hide {
    /*font: 0/0 a;*/
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.text-decoration-none {
    text-decoration: none !important
}

.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important
}

.text-reset {
    color: inherit !important
}

.d-none {
    display: none !important
}


.m-auto {
    margin: auto !important
}

.mt-auto, .my-auto {
    margin-top: auto !important
}

.mr-auto, .mx-auto {
    margin-right: auto !important
}

.mb-auto, .my-auto {
    margin-bottom: auto !important
}

.ml-auto, .mx-auto {
    margin-left: auto !important
}

.d-block {
    display: block !important
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto
}


.app-wrapper {
    display: flex;
    flex: 1 1;
    background: #f4f5fd;
    overflow-x: hidden;
    transition: all .5s cubic-bezier(.685, .0473, .346, 1)
}

.app-main {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    flex-direction: column;
    position: relative;
    min-height: 100vh
}

.app-content {
    flex: 1 1;
    display: flex;
    padding: 0;
    flex-direction: column;
    transition: all .5s cubic-bezier(.685, .0473, .346, 1)
}

.app-content--inner {
    overflow: hidden;
    padding: 3rem;
    display: flex;
    flex: 1 1
}

@media (max-width: 767.98px) {
    .app-content--inner {
        padding: 1rem
    }
}

.app-content--inner__wrapper {
    display: block;
    width: 100%
}

.app-sidebar-fixed .app-content {
    padding-left: 320px
}

@media (max-width: 1099.98px) {
    .app-content {
        z-index: 500;
        padding-left: 0 !important
    }
}

@media (min-width: 1100px) {
    .app-header-fixed .app-content {
        padding-top: 74px
    }
}

@media (min-width: 1100px) {
    .app-sidebar-collapsed .app-content {
        padding-left: 100px
    }
}

.app-inner-content-layout {
    display: flex;
    flex-direction: column
}

@media (min-width: 1100px) {
    .app-inner-content-layout {
        flex-direction: row
    }
}

.app-inner-content-layout-fixed {
    bottom: 0;
    left: 0;
    right: 0;
    top: 74px;
    position: absolute
}

@media (min-width: 1100px) {
    .app-inner-content-layout-fixed {
        left: 100px
    }
}

.app-inner-content-layout-fixed .btn-md-pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px
}

.app-inner-content-layout--sidebar {
    width: 280px;
    display: flex;
    transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    flex-direction: column;
    position: relative;
    z-index: 900;
    box-shadow: 0 0 28px 0 rgba(60, 68, 177, .08)
}

.app-inner-content-layout--sidebar__content {
    padding: 1rem
}

.app-inner-content-layout--sidebar__lg {
    width: 380px
}

@media (max-width: 1380.98px) {
    .app-inner-content-layout--sidebar__lg {
        width: 280px
    }
}

.app-inner-content-layout--sidebar__sm {
    width: 250px
}

.app-inner-content-layout--sidebar__xl {
    width: 440px
}

@media (max-width: 1380.98px) {
    .app-inner-content-layout--sidebar__xl {
        width: 280px
    }
}

.app-inner-content-layout--sidebar__xxl {
    width: 520px
}

@media (max-width: 1380.98px) {
    .app-inner-content-layout--sidebar__xxl {
        width: 440px
    }
}

@media (max-width: 1099.98px) {
    .app-inner-content-layout--sidebar {
        left: -380px;
        position: fixed;
        z-index: 1175;
        top: 0;
        height: 100vh;
        width: 280px;
        padding-top: 74px
    }

    .app-inner-content-layout--sidebar.layout-sidebar-open {
        left: 0;
        box-shadow: .46875rem 0 2.1875rem rgba(59, 62, 102, .03), .9375rem 0 1.40625rem rgba(59, 62, 102, .03), .25rem 0 .53125rem rgba(59, 62, 102, .05), .125rem 0 .1875rem rgba(59, 62, 102, .03)
    }

    .app-inner-content-layout--sidebar.pos-r {
        left: auto;
        right: -380px
    }

    .app-inner-content-layout--sidebar.pos-r.layout-sidebar-open {
        left: auto;
        right: 0;
        box-shadow: -.46875rem 0 2.1875rem rgba(59, 62, 102, .03), -.9375rem 0 1.40625rem rgba(59, 62, 102, .03), -.25rem 0 .53125rem rgba(59, 62, 102, .05), -.125rem 0 .1875rem rgba(59, 62, 102, .03)
    }
}

.app-inner-content-layout--main {
    display: flex;
    flex-direction: column;
    flex: 1 1
}

@media (max-width: 1099.98px) {
    .app-inner-content-layout--main {
        height: calc(100vh - 154px)
    }
}

.app-content > .app-inner-content-layout--main {
    display: flex;
    flex-direction: column;
    flex: 1 1
}

.app-content > .app-inner-content-layout--main > div:not([class]) {
    -webkit-transform: none !important;
    transform: none !important
}


.bg-primary {
    background-color: #3c44b1 !important
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #2f358b !important
}

.bg-secondary {
    background-color: #f8f9ff !important
}

a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover {
    background-color: #c5cdff !important
}

.bg-success {
    background-color: #1bc943 !important
}

a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
    background-color: #159c34 !important
}

.bg-info {
    background-color: #11c5db !important
}

a.bg-info:focus, a.bg-info:hover, button.bg-info:focus, button.bg-info:hover {
    background-color: #0d9aac !important
}

.bg-warning {
    background-color: #f4772e !important
}

a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background-color: #e35b0c !important
}

.bg-danger {
    background-color: #f83245 !important
}

a.bg-danger:focus, a.bg-danger:hover, button.bg-danger:focus, button.bg-danger:hover {
    background-color: #ef081e !important
}

.bg-light {
    background-color: #f4f5fd !important
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #c9cef5 !important
}

.bg-gray {
    background-color: #f8f9ff !important
}

a.bg-gray:focus, a.bg-gray:hover, button.bg-gray:focus, button.bg-gray:hover {
    background-color: #c5cdff !important
}

.bg-dark {
    background-color: #7a7b97 !important
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: #61627d !important
}

.bg-first {
    background-color: #4191ff !important
}

a.bg-first:focus, a.bg-first:hover, button.bg-first:focus, button.bg-first:hover {
    background-color: #0e73ff !important
}

.bg-second {
    background-color: #070919 !important
}

a.bg-second:focus, a.bg-second:hover, button.bg-second:focus, button.bg-second:hover {
    background-color: #000 !important
}

.bg-white {
    background-color: #fff !important
}

.bg-transparent {
    background-color: transparent !important
}

.d-flex {
    display: flex !important
}


.flex-row {
    flex-direction: row !important
}

.flex-column {
    flex-direction: column !important
}

.flex-row-reverse {
    flex-direction: row-reverse !important
}

.flex-column-reverse {
    flex-direction: column-reverse !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.flex-nowrap {
    flex-wrap: nowrap !important
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important
}

.flex-fill {
    flex: 1 1 auto !important
}

.flex-grow-0 {
    flex-grow: 0 !important
}

.flex-grow-1 {
    flex-grow: 1 !important
}

.flex-shrink-0 {
    flex-shrink: 0 !important
}

.flex-shrink-1 {
    flex-shrink: 1 !important
}

.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

.align-items-start {
    align-items: flex-start !important
}

.align-items-end {
    align-items: flex-end !important
}

.align-items-center {
    align-items: center !important
}

.align-items-baseline {
    align-items: baseline !important
}

.align-items-stretch {
    align-items: stretch !important
}

.align-content-start {
    align-content: flex-start !important
}

.align-content-end {
    align-content: flex-end !important
}

.align-content-center {
    align-content: center !important
}

.align-content-between {
    align-content: space-between !important
}

.align-content-around {
    align-content: space-around !important
}

.align-content-stretch {
    align-content: stretch !important
}

.align-self-auto {
    align-self: auto !important
}

.align-self-start {
    align-self: flex-start !important
}

.align-self-end {
    align-self: flex-end !important
}

.align-self-center {
    align-self: center !important
}

.align-self-baseline {
    align-self: baseline !important
}

.align-self-stretch {
    align-self: stretch !important
}


.bg-composed-wrapper--bg, .bg-composed-wrapper--image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: .15
}

.bg-composed-wrapper {
    position: relative;
    display: flex;
    align-items: center
}

.bg-composed-wrapper, .bg-composed-wrapper--image {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.bg-composed-wrapper--image {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    background-size: cover
}

.bg-composed-wrapper--content {
    position: relative;
    z-index: 7;
    width: 100%
}

.bg-composed-wrapper--bg {
    z-index: 5
}

.bg-composed-filter-rm {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.bg-repeat {
    background-size: auto
}

.bg-filter-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.transition-base {
    transition: all .2s ease-in-out !important
}

.shadow-xxl {
    box-shadow: 0 .18rem .3rem rgba(166, 166, 185, .5), 0 .326rem 3rem rgba(122, 123, 151, .3) !important
}

.shadow-sm-dark {
    box-shadow: 0 .313rem .8rem rgba(7, 9, 25, .3), 0 .126rem .225rem rgba(7, 9, 25, .1) !important
}

.bg-white-50 {
    background-color: hsla(0, 0%, 100%, .2)
}

.text-black {
    color: #070919
}

.img-fit-container {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.gradient-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: inherit;
    text-fill-color: transparent
}


.divider-v {
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 26px;
    right: 0;
    width: 1px;
    background: #eeeff8;
    overflow: hidden
}

@media (max-width: 1380.98px) {
    .divider-v.divider-v-lg {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        width: 100%;
        height: 1px;
        min-height: 1px
    }
}

@media (max-width: 1099.98px) {
    .divider-v.divider-v-md {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 1px;
        min-height: 1px
    }
}

@media (max-width: 767.98px) {
    .divider-v.divider-v-md {
        display: none
    }
}


@media (min-width: 1100px) {
    .d-lg-none {
        display: none !important
    }

    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-row {
        display: table-row !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }
}


.p-lg-0 {
    padding: 0 !important
}

.pt-lg-0, .py-lg-0 {
    padding-top: 0 !important
}

.pr-lg-0, .px-lg-0 {
    padding-right: 0 !important
}

.pb-lg-0, .py-lg-0 {
    padding-bottom: 0 !important
}

.pl-lg-0, .px-lg-0 {
    padding-left: 0 !important
}

.p-lg-1 {
    padding: .25rem !important
}

.pt-lg-1, .py-lg-1 {
    padding-top: .25rem !important
}

.pr-lg-1, .px-lg-1 {
    padding-right: .25rem !important
}

.pb-lg-1, .py-lg-1 {
    padding-bottom: .25rem !important
}

.pl-lg-1, .px-lg-1 {
    padding-left: .25rem !important
}

.p-lg-2 {
    padding: .5rem !important
}

.pt-lg-2, .py-lg-2 {
    padding-top: .5rem !important
}

.pr-lg-2, .px-lg-2 {
    padding-right: .5rem !important
}

.pb-lg-2, .py-lg-2 {
    padding-bottom: .5rem !important
}

.pl-lg-2, .px-lg-2 {
    padding-left: .5rem !important
}

.p-lg-3 {
    padding: 1rem !important
}

.pt-lg-3, .py-lg-3 {
    padding-top: 1rem !important
}

.pr-lg-3, .px-lg-3 {
    padding-right: 1rem !important
}

.pb-lg-3, .py-lg-3 {
    padding-bottom: 1rem !important
}

.pl-lg-3, .px-lg-3 {
    padding-left: 1rem !important
}

.p-lg-4 {
    padding: 1.5rem !important
}

.pt-lg-4, .py-lg-4 {
    padding-top: 1.5rem !important
}

.pr-lg-4, .px-lg-4 {
    padding-right: 1.5rem !important
}

.pb-lg-4, .py-lg-4 {
    padding-bottom: 1.5rem !important
}

.pl-lg-4, .px-lg-4 {
    padding-left: 1.5rem !important
}

.p-lg-5 {
    padding: 3rem !important
}

.pt-lg-5, .py-lg-5 {
    padding-top: 3rem !important
}

.pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important
}

.pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important
}

.pl-lg-5, .px-lg-5 {
    padding-left: 3rem !important
}


.font-weight-light {
    font-weight: 300 !important
}

.font-weight-lighter {
    font-weight: lighter !important
}

.font-weight-normal {
    font-weight: 400 !important
}

.font-weight-bold {
    font-weight: 700 !important
}

.font-weight-bolder {
    font-weight: bolder !important
}

.font-italic {
    font-style: italic !important
}


.font-size-xs {
    font-size: .83333rem !important
}

.font-size-sm {
    font-size: .875rem !important
}

.font-size-md {
    font-size: 1rem !important
}

.font-size-lg {
    font-size: 1.15rem !important
}

.font-size-xl {
    font-size: 1.265rem !important
}

.font-size-xxl {
    font-size: 1.38rem !important
}


.border-primary {
    border-color: #3c44b1 !important
}

.border-secondary {
    border-color: #f8f9ff !important
}

.border-success {
    border-color: #1bc943 !important
}

.border-info {
    border-color: #11c5db !important
}

.border-warning {
    border-color: #f4772e !important
}

.border-danger {
    border-color: #f83245 !important
}

.border-light {
    border-color: #f4f5fd !important
}

.border-gray {
    border-color: #f8f9ff !important
}

.border-dark {
    border-color: #7a7b97 !important
}

.border-first {
    border-color: #4191ff !important
}

.border-second {
    border-color: #070919 !important
}

.border-white {
    border-color: #fff !important
}

.rounded-sm {
    border-radius: .29rem !important
}

.rounded {
    border-radius: .65rem !important
}

.rounded-top {
    border-top-left-radius: .65rem !important
}

.rounded-right, .rounded-top {
    border-top-right-radius: .65rem !important
}

.rounded-bottom, .rounded-right {
    border-bottom-right-radius: .65rem !important
}

.rounded-bottom, .rounded-left {
    border-bottom-left-radius: .65rem !important
}

.rounded-left {
    border-top-left-radius: .65rem !important
}

.rounded-lg {
    border-radius: .75rem !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-pill {
    border-radius: 50rem !important
}

.rounded-0 {
    border-radius: 0 !important
}

.min-vw-100 {
    min-width: 100vw !important
}

.min-vh-100 {
    min-height: 100vh !important
}

.vw-100 {
    width: 100vw !important
}


.p-0 {
    padding: 0 !important
}

.pt-0, .py-0 {
    padding-top: 0 !important
}

.pr-0, .px-0 {
    padding-right: 0 !important
}

.pb-0, .py-0 {
    padding-bottom: 0 !important
}

.pl-0, .px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1, .py-1 {
    padding-top: .25rem !important
}

.pr-1, .px-1 {
    padding-right: .25rem !important
}

.pb-1, .py-1 {
    padding-bottom: .25rem !important
}

.pl-1, .px-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2, .py-2 {
    padding-top: .5rem !important
}

.pr-2, .px-2 {
    padding-right: .5rem !important
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important
}

.pl-2, .px-2 {
    padding-left: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3, .py-3 {
    padding-top: 1rem !important
}

.pr-3, .px-3 {
    padding-right: 1rem !important
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important
}

.pl-3, .px-3 {
    padding-left: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important
}

.pr-4, .px-4 {
    padding-right: 1.5rem !important
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4, .px-4 {
    padding-left: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5, .py-5 {
    padding-top: 3rem !important
}

.pr-5, .px-5 {
    padding-right: 3rem !important
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important
}

.pl-5, .px-5 {
    padding-left: 3rem !important
}


.m-0 {
    margin: 0 !important
}

.mt-0, .my-0 {
    margin-top: 0 !important
}

.mr-0, .mx-0 {
    margin-right: 0 !important
}

.mb-0, .my-0 {
    margin-bottom: 0 !important
}

.ml-0, .mx-0 {
    margin-left: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1, .my-1 {
    margin-top: .25rem !important
}

.mr-1, .mx-1 {
    margin-right: .25rem !important
}

.mb-1, .my-1 {
    margin-bottom: .25rem !important
}

.ml-1, .mx-1 {
    margin-left: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2, .my-2 {
    margin-top: .5rem !important
}

.mr-2, .mx-2 {
    margin-right: .5rem !important
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3, .my-3 {
    margin-top: 1rem !important
}

.mr-3, .mx-3 {
    margin-right: 1rem !important
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4, .mx-4 {
    margin-left: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5, .my-5 {
    margin-top: 3rem !important
}

.mr-5, .mx-5 {
    margin-right: 3rem !important
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important
}

.ml-5, .mx-5 {
    margin-left: 3rem !important
}


.avatar-icon-wrapper {
    display: inline-block;
    margin-right: .25rem;
    position: relative;
    font-size: 1.2rem;
    transition: all .2s ease-in-out
}

.avatar-icon-wrapper:last-child {
    margin-right: 0
}

.avatar-icon-wrapper .badge {
    position: absolute;
    right: 0;
    bottom: 0
}

.avatar-icon {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    transition: all .2s ease-in-out;
    opacity: 1;
    border-radius: 50px
}

.avatar-icon.rounded {
    border-radius: .65rem !important
}

.avatar-icon-xl {
    font-size: 1.4rem
}

.avatar-icon-xl .avatar-icon {
    width: 64px;
    height: 64px;
    line-height: 64px
}

.avatar-icon-lg {
    font-size: 1.2rem
}

.avatar-icon-lg .avatar-icon {
    width: 54px;
    height: 54px;
    line-height: 54px
}

.avatar-icon-sm {
    font-size: .8rem;
    font-weight: 700
}

.avatar-icon-sm .avatar-icon {
    width: 34px;
    height: 34px;
    line-height: 34px
}

.avatar-icon-xs {
    font-size: .7rem;
    font-weight: 700
}

.avatar-icon-xs .avatar-icon {
    width: 26px;
    height: 26px;
    line-height: 26px;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

.avatar-icon {
    box-shadow: 0 0 0 3px #fff;
    overflow: hidden
}

.avatar-icon img {
    width: 100%;
    height: 100%;
    display: block
}

.avatar-wrapper-overlap {
    display: flex
}

.avatar-wrapper-overlap .avatar-icon-wrapper {
    z-index: 5;
    margin-left: -18px
}

.avatar-wrapper-overlap .avatar-icon-wrapper:hover {
    z-index: 7
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-xl {
    margin-left: -30px
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-lg {
    margin-left: -24px
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-sm {
    margin-left: -14px
}

.avatar-wrapper-overlap .avatar-icon-wrapper.avatar-icon-xs {
    margin-left: -10px
}

.avatar-wrapper-overlap .avatar-icon-wrapper:first-child {
    margin-left: 0 !important
}

.avatar-wrapper-overlap-hover .avatar-icon-wrapper:hover {
    z-index: 5
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-wrapper {
    margin-left: -18px
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-wrapper:first-child {
    -webkit-transform: translateX(-22px);
    transform: translateX(-22px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-wrapper:last-child {
    -webkit-transform: translateX(22px);
    transform: translateX(22px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xl {
    margin-left: -30px
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xl:first-child {
    -webkit-transform: translateX(-34px);
    transform: translateX(-34px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xl:last-child {
    -webkit-transform: translateX(34px);
    transform: translateX(34px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-lg {
    margin-left: -24px
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-lg:first-child {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-lg:last-child {
    -webkit-transform: translateX(28px);
    transform: translateX(28px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-sm {
    margin-left: -14px
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-sm:first-child {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-sm:last-child {
    -webkit-transform: translateX(18px);
    transform: translateX(18px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xs {
    margin-left: -10px
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xs:first-child {
    -webkit-transform: translateX(-14px);
    transform: translateX(-14px)
}

.avatar-wrapper-overlap-hover:hover .avatar-icon-xs:last-child {
    -webkit-transform: translateX(14px);
    transform: translateX(14px)
}

.avatar-initials {
    text-align: center
}

.avatar-initials, .badge {
    text-transform: uppercase
}

.btn-icon {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border: 0
}

.d-20 {
    height: 20px !important;
    line-height: 20px !important;
    width: 20px !important
}

.d-30 {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important
}

.d-40 {
    height: 40px !important;
    line-height: 40px !important;
    width: 40px !important
}

.d-50 {
    height: 50px !important;
    line-height: 50px !important;
    width: 50px !important
}

.d-60 {
    height: 60px !important;
    line-height: 60px !important;
    width: 60px !important
}

.d-70 {
    height: 70px !important;
    line-height: 70px !important;
    width: 70px !important
}

.d-80 {
    height: 80px !important;
    line-height: 80px !important;
    width: 80px !important
}

.d-90 {
    height: 90px !important;
    line-height: 90px !important;
    width: 90px !important
}

.d-100 {
    height: 100px !important;
    line-height: 100px !important;
    width: 100px !important
}

.d-110 {
    height: 110px !important;
    line-height: 110px !important;
    width: 110px !important
}

.d-120 {
    height: 120px !important;
    line-height: 120px !important;
    width: 120px !important
}

.d-130 {
    height: 130px !important;
    line-height: 130px !important;
    width: 130px !important
}

.d-140 {
    height: 140px !important;
    line-height: 140px !important;
    width: 140px !important
}

.d-150 {
    height: 150px !important;
    line-height: 150px !important;
    width: 150px !important
}

.d-160 {
    height: 160px !important;
    line-height: 160px !important;
    width: 160px !important
}

.d-170 {
    height: 170px !important;
    line-height: 170px !important;
    width: 170px !important
}

.d-180 {
    height: 180px !important;
    line-height: 180px !important;
    width: 180px !important
}

.d-190 {
    height: 190px !important;
    line-height: 190px !important;
    width: 190px !important
}

.d-200 {
    height: 200px !important;
    line-height: 200px !important;
    width: 200px !important
}

.d-210 {
    height: 210px !important;
    line-height: 210px !important;
    width: 210px !important
}

.d-220 {
    height: 220px !important;
    line-height: 220px !important;
    width: 220px !important
}

.d-230 {
    height: 230px !important;
    line-height: 230px !important;
    width: 230px !important
}

.d-240 {
    height: 240px !important;
    line-height: 240px !important;
    width: 240px !important
}

.MuiButton-root.btn-pill {
    border-radius: 4.5rem
}


.btn-wrapper--label:not(:first-child) {
    margin-left: .5rem
}

.btn-wrapper--label {
    display: inline-block
}

.btn-wrapper--label + .btn-wrapper--icon {
    margin-left: .5rem
}


.MuiButtonBase-root.btn-neutral-secondary {
    background: rgba(248, 249, 255, .15);
    color: #f8f9ff;
    border-color: transparent;
    color: #3b3e66
}

.MuiButtonBase-root.btn-neutral-secondary.active, .MuiButtonBase-root.btn-neutral-secondary:hover {
    background: #f8f9ff;
    color: #3b3e66
}

.MuiButtonBase-root.btn-neutral-secondary.active .btn-wrapper--icon svg path, .MuiButtonBase-root.btn-neutral-secondary:hover .btn-wrapper--icon svg path {
    fill: #3b3e66
}

.bg-neutral-first {
    background-color: #eaf6ff !important
}

a.bg-neutral-first:focus, a.bg-neutral-first:hover, button.bg-neutral-first:focus, button.bg-neutral-first:hover {
    background-color: #b8e0fe !important
}
